@charset "UTF-8";


#wrap{
	width:1200px;
	margin:auto;
}

header{
	height:70px;
	background-color:#dddddd;
}


.contents > .join-box{
	width:350px;
}

.list_box{
	width:800px;
	height:500px;
}

.input-box{
	width:650px;
}

footer{
	height:50px;
	background-color:#dddddd;
}

